## User Input , Type casting, String concatenation

1. Python Program to Add Two Numbers. numbers are given by the user.

In [1]:
first_num = int(input("Enter First Number: "))
second_num = int(input("Enter Second Number: "))
result = first_num + second_num
print("The Sum of two numbers is:", result )

Enter First Number: 36
Enter Second Number: 64
The Sum of two numbers is: 100

2. Python Program to Find the Square Root of a number given by the user

In [4]:
import math
num =int(input("Enter a Number to find Square root: "))
sqrt = math.sqrt(num)
print("The Square of given Number is:",sqrt)

Enter a Number to find Square root: 144
The Square of given Number is: 12.0

3. Python Program to Calculate the Area of a Triangle

In [5]:
base = int(input("Enter the value of Base of a Triangle: "))
height = int(input("Enter the value of Height of a Triangle: "))
area_triangle = (base * height) / 2
print("The Area of a Triangle is " + str(area_triangle) )

Enter the value of Base of a Triangle: 4
Enter the value of Height of a Triangle: 5
The Area of a Triangle is 10.0

4. Python Program to Swap Two Numbers entered by the user

In [7]:
first_numb = int(input("Enter the First Number to swap: "))
second_numb = int(input("Enter the Second Number to swap: "))

print("Before Swapping the two Numbers are: ", first_numb, second_numb)
temp = first_numb
first_numb = second_numb
second_numb = temp
print("After Swapping the two Numbers are: ", first_numb, second_numb)

Enter the First Number to swap: 45
Enter the Second Number to swap: 65
Before Swapping the two Numbers are:  45 65
After Swapping the two Numbers are:  65 45

In [8]:
a = int(input("Enter the First Number to swap: "))
b = int(input("Enter the Second Number to swap: "))

print("Before Swapping the two Numbers are: ", a, b)
a = a + b
b = a - b
a = a - b
print("After Swapping the two Numbers are: ", a, b)

Enter the First Number to swap: 456
Enter the Second Number to swap: 654
Before Swapping the two Numbers are:  456 654
After Swapping the two Numbers are:  654 456

5. Python Program to Convert Kilometers to Miles
   - 1 kilometer is equal to 0.621371 miles

In [14]:
value_in_kM = int(input("Enter the value in Kilometers: "))
std_value = 0.621371
convrt_miles = value_in_kM * std_value
print(str(value_in_kM) + " Kilometers is equal to " + str(convrt_miles) + " miles")

Enter the value in Kilometers: 4
4 Kilometers is equal to 2.485484 miles

6. python program to find average of two numbers entered by the user.

In [17]:
num1 = int(input("Enter the First Number: "))
num2 = int(input("Enter the Second Number: "))
average = (num1 + num2) / 2
print("The Average of " + str(num1) + " and " + str(num2) + " is " + str(average))

Enter the First Number: 456
Enter the Second Number: 545
The Average of 456 and 545 is 500.5

7. pyhton program to find square and cube of two numbers entered by user.

In [19]:
num1 = int(input("Enter the Number to find square : "))
num2 = int(input("Enter the Number to find Cube : "))

square = num1 ** 2
cube = num1 ** 3

print("The Square of " + str(num1) + " is " + str(square))
print("The Cube of " + str(num2) + " is " + str(cube))

Enter the Number to find square : 14
Enter the Number to find Cube : 15
The Square of 14 is 196
The Cube of 15 is 2744

8. pyhton program to find area of a rectangle and circle.

In [20]:
# Area of rectangle
length = int(input("Enter the Lenght of a Rectangle: "))
breadth = int(input("Enter the Breadth of a Rectangle: "))
area_rectangle = length * breadth
print("The area of a rectangle is: ", area_rectangle)

# Area of a circle
radius = int(input("Enter the Radius of a Circle: "))
pi = 3.142
area_circle = pi * (radius **2)
print("The Area of a Circle is: ", area_circle)

Enter the Lenght of a Rectangle: 23
Enter the Breadth of a Rectangle: 6
The area of a rectangle is:  138
Enter the Radius of a Circle: 2
The Area of a Circle is:  12.568

9. python program to find volume of a cylinder.

In [22]:
radius = int(input("Enter the Radius of a Cylinder: "))
height = int(input("Enter the Height of a Cylinder: "))
pi = 3.142
area_cylinder = pi * (radius **2) * height
print("The Volume of a cylinder is: ", area_cylinder)

Enter the Radius of a Cylinder: 2
Enter the Height of a Cylinder: 4
The Volume of a cylinder is:  50.272

10. Write a program that will convert celsius value to fahrenheit

In [2]:
temp_celcius = int(input("Enter the Temperature in Celcius (°C): "))

convt_fahrenheit = temp_celcius*(9/5)+32

print("The temperature of " + str(temp_celcius) + " (°C) " + "is Equal to " + str(convt_fahrenheit) + " (°F)")

Enter the Temperature in Celcius (°C): 35
The temperature of 35 (°C) is Equal to 95.0 (°F)

11. python program to convert your age into minutes and seconds.

In [5]:
# Age into Minute
age = int(input("Enter Your Age: "))
age_min = (age * 365 * 24 * 60)
print("Your age " + str(age) + " Years is equal to " + str(age_min) + " Minutes")

# Age into Seconds
age_sec = (age * 365 * 24 * 60 * 60)
print("Your age " + str(age) + " Years is equal to " + str(age_sec) + " Seconds")

Enter Your Age: 22
Your age 22 Years is equal to 11563200 Minutes
Your age 22 Years is equal to 693792000 Seconds

## String Formation

12. python program to display a user entered a name followed by Good Afternoon.

In [6]:
name = input("Enter Your Name: ")
# using format()
print("Good Afternoon! {}".format(name))

# using f-method
print(f"""Good AfterNoon! {name}""")

Enter Your Name: Muhammad Huzaifa
Good Afternoon! Muhammad Huzaifa
Good AfterNoon! Muhammad Huzaifa

13. python program to fill in name and date given bellow.

letter = '''Dear <name>,
                You are selected!
                <date>'''

In [7]:
name = input("Enter Your Name: ")
date = input("Enter the today date: ")
print(f"""Dear {name},
                You are Selected!
                {date}
                """)

Enter Your Name: Mohsin Raza
Enter the today date: 20-08-2023
Dear Mohsin Raza,
                You are Selected!
                20-08-2023

14. Create 3 variables to store street, city and country. now create address variable to store entire address. Use two ways of creating this variable, one using + operator and the other using f-string. Now Print the address in such a way that the street, city and country prints in a separate line

In [14]:
street = "Street 5 patli galli "
city = "Karachi"
country = "Pakistan"
# using (+) method
address = street + "House # 298" + " Main Industrial Area Road " + "\n"+ city + "\n"+ country
print("The Address with (+) operator: ", address)
# using f-method
print(f"""{street}House # 298 Main Industrial Area Road {city}, {country}""")

The Address with (+) operator:  Street 5 patli galli House # 298 Main Industrial Area Road
Karachi
Pakistan
Street 5 patli galli House # 298 Main Industrial Area Road Karachi, Pakistan

15. Create two variables to store how many fruits and vegetables you eat in a day. Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables and fruits that you eat everyday. Use python f string for this

In [16]:
fruits = int(input("How many Fruits you eat in day? "))
vegies = int(input("enter How naby vegetables you eat in a day? "))
print(f"""I eat {vegies} veggies and {fruits} fruits daily.""")

How many Fruits you eat in day? 5
enter How naby vegetables you eat in a day? 3
I eat 3 veggies and 5 fruits daily.

16. pyhton program to print total marks, average, and percentage of five subjects.

In [17]:
eng = int(input("Enter Your English marks: "))
urdu = int(input("Enter Your Urdu marks: "))
math = int(input("Enter Your Maths marks: "))
phy = int(input("Enter Your Physics marks: "))
chem = int(input("Enter Your Chemistry marks: "))

Total_marks = 500
obtain_marks = (eng + urdu + math + phy + chem)
average = (eng + urdu + math + phy + chem)/5
percentage = (obtain_marks / Total_marks) * 100

print(f"""
    RESULT CARD
=====================
ENGLISH : {eng}
URDU : {urdu}
MATHS : {math}
PHYSICS : {phy}
CHEMISTRY : {chem}

OBTAIN MARKS : {obtain_marks}
TOTAL MARKS : {Total_marks}
AVERAGE : {average}
PERCENTAGE :{percentage}
""")

Enter Your English marks: 74
Enter Your Urdu marks: 75
Enter Your Maths marks: 94
Enter Your Physics marks: 87
Enter Your Chemistry marks: 85

    RESULT CARD
=====================
ENGLISH : 74
URDU : 75
MATHS : 94
PHYSICS : 87
CHEMISTRY : 85

OBTAIN MARKS : 415
TOTAL MARKS : 500
AVERAGE : 83.0
PERCENTAGE :83.0

## String indexing & Slicing

17.Create a variable to store the string "Earth revolves around the sun"
   - Print "revolves" using slice operator
   - Print "sun" using negative index

In [26]:
string = "Earth revolves around the sun"
# index   01234567890123456789012345678  index 0 to 28   
# print revolves
print(string[6:14])
# print sun with negative slicing
print(string[-3:])

revolves
sun

18. Python Program to Get a Substring of a String

In [35]:
text = "Today is Monday. Monday is the first day of Week"
# index 012345678901234567890123456789012345678901234567
print(text[9:15])
print(text[-11:-8])

Monday
day

19. Python Program to print a reverse of a String

In [37]:
text = "Today is Monday. Monday is the first day of Week"
print(text[::-1])

my_name = "Muhammad Huzaifa"
print(my_name[::-1])

keeW fo yad tsrif eht si yadnoM .yadnoM si yadoT
afiazuH dammahuM

Remove the first and last characters from a string using slicing.

In [39]:
# Removing first character means 0 index and last character means -1 we already know that slicing is done n-1 times
my_name = "Muhammad Huzaifa"
print(my_name[1:-1])

uhammad Huzaif

## String Methods

20. Python Program to Parse a String to a Float or Int

In [55]:
value_int = input("Enter a value: ")
value_float = input("Enter a Float value: ")
value_int = int(value_int)
value_float = float(value_float)
print(value_int, type(value_int))
print(value_float, type(value_float))

Enter a value: 2356
Enter a Float value: 11.46
2356 <class 'int'>
11.46 <class 'float'>

21. Python Program to Count the Number of Occurrence of a Character in String

In [42]:
text = "Today is Monday. Monday is the first day of Week"
char = text.count("M")
print(f"""M is present in this string {char} Times""")

M is present in this string 2 Times

22. Python Program to Capitalize the First Character of a String

In [43]:
name = "huziafa is a good student."
print(name.capitalize())

Huziafa is a good student.

23. Python Program to Trim Whitespace From a String

In [45]:
mobile_no = "        0333-4135214    "
print(mobile_no.strip())

0333-4135214

24. I have a string variable called s='maine 200 banana khaye'. 
This of course is a wrong statement, the correct statement is 'maine 10 samosa khaye'.
Replace incorrect words in original string with new ones and print the new string.
Also try to do this in one line.

In [49]:
s = "maine 200 banana khaye."
s = s.replace("200", "10")
s = s.replace("banana", "somosa")
print(f"""The correct Statement is: {s}""")


# using single line
s = s.replace("200","10").replace("banana","samosa")
print("The correct statement in single line is: ",s)

The correct Statement is: maine 10 somosa khaye.
The correct statement in single line is:  maine 10 somosa khaye.

25. python program to find double space in a string and also remove it.

In [50]:
message = "Hello world my name  is Muhammad Huziafa"
print(message.find("  "))

19

26. Extract username from a given email.
Eg if the email is nitish24singh@gmail.com then the username
should be nitish24singh

27. Count the frequency of a particular character in a provided string. Eg
'hello how are you' is the string, the frequency of h in this string is 2.

In [51]:
msg1 =  'hello how are you'
print(f"""the frequency of h in this string is {msg1.count("h")}""")

the frequency of h in this string is 2

28. Convert a user-input string to uppercase and print it.

In [52]:
msg1 =  'hello how are you'
print(msg1.upper())

HELLO HOW ARE YOU

29. Replace 'a' with 'x' in the string 'banana'.

In [53]:
fruit_name = "Banana"
fruit_name = fruit_name.replace("a", "x")
print(fruit_name)

Bxnxnx

30. Replace every 'e' with 'E' and 'i' with 'I' in a sentence.

In [54]:
info = "Hello today is sunday. and today is my birthday. Please Everyone wish me Happy Birthday to You"
info = info.replace("e" , "E")
info = info.replace("i", "I")
print(info)

HEllo today Is sunday. and today Is my bIrthday. PlEasE EvEryonE wIsh mE Happy BIrthday to You