# Chapter 01 Exercises Questions

1. Create a variable called break and assign it a value 5. See what happens and find out the reason behind the behavior that you see.

In [1]:
break = 5

SyntaxError: invalid syntax (2709188746.py, line 1)

2. Create two variables. One to store your birth year and another one to store current year. Now calculate your age using these two variables

In [2]:
birth_year = 2001
current_year = 2023
my_age = current_year - birth_year
print(my_age)

22

3. Store your first, middle and last name in three different variables and then print your full name using these variables

In [10]:
first_name = "Muhammad"
middle_name = "Huzaifa"
last_name = "Niazi"
full_name = first_name + " " + middle_name + " " + last_name
print(first_name,middle_name,last_name)
print(full_name)

Muhammad Huzaifa Niazi
Muhammad Huzaifa Niazi

4. Answer which of these are invalid variable names: 
-   _nation
-  1record
-   record1
-   record_one
-   record-one
-   record^one
-   continue

1record, record-one, record^one, continue

5. You have a football field that is 92 meter long and 48.8 meter wide. Find out total area using python and print it.

In [3]:
length_in_meter = 92
width_in_meter = 48.8
total_area = length_in_meter * width_in_meter
print(total_area)

4489.599999999999

6. You bought 9 packets of potato chips from a store. Each packet costs 1.49 dollar and you gave shopkeeper 20 dollar. Find out using python, how many dollars is the shopkeeper going to give you back?

In [5]:
chips_packets = 9
price_per_packet_in_dollars = 1.49
money_paid_in_dollars = 20
total_cost = chips_packets * price_per_packet_in_dollars
remaining_amount = money_paid_in_dollars - total_cost
print(remaining_amount)

6.59

7. You want to replace tiles in your bathroom which is exactly square and 5.5 feet is its length. If tiles cost 500 rs per square feet, how much will be the total cost to replace all tiles. Calculate and print the cost using python
(Hint: Use power operator ** to find area of a square)

In [6]:
length_of_square_in_feet = 5.5
tiles_cost_per_square_in_Rs = 500
area_of_square_in_feet = length_of_square_in_feet ** 2
total_cost = area_of_square_in_feet * tiles_cost_per_square_in_Rs
print(total_cost)

15125.0

8. Print binary representation of number 17

In [1]:
x = 0b10001
print(x)

17

9. Write a python program to print Twinkle Twinkle Little Star Poem.

In [2]:
poem = '''
Twinkle, twinkle, little star,
How I wonder what you are.
Up above the world so high,
Like a diamond in the sky.'''
print(poem)

Twinkle, twinkle, little star,
How I wonder what you are.
Up above the world so high,
Like a diamond in the sky.

10. Write a python program to add two numbers.

In [16]:
first_number = 24
second_number = 26
add = first_number + second_number
print(add)

50

11. write a python program to find reminder when a number is divided by 2.

In [19]:
print(6455 % 2)

1