# Chapter 01 Exercises Questions

## Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [1]:
# type your code here
print("Hello World!", 57, True, 35.36)

Hello World! 57 True 35.36

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [2]:
# type your code here
print("Hello World!", 57, True, 35.36, sep='-')

Hello World!-57-True-35.36

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [3]:
# type your code here
print("Hello World! I am Learning Python.", end=' ')
print(35, end= ' ')
print(False, end = ' ')
print(36.756)

Hello World! I am Learning Python. 35 False 36.756

4) Can a python print function take no value to print???

In [4]:
# type your answer here
print()

## TOPIC :Variables & Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [3]:
#type your code here
friend_name = "Mr. Ahmed"
friend_age = 30
profession = "Lawyer"
qualifications = "Bachelors in Law"
passout_year = 2005
firm_name = "The Himalya Associates"
firm_location = "Karachi"
job_starting_year = 2015
height_in_feets = 5.10
weight_in_grams = 70600
income_in_pkr = 200000

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [4]:
#type your code here 
current_year = 2023
Graduated_years = current_year - passout_year
print(Graduated_years)

18

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [5]:
#type your code here 
Working_experiance = current_year - job_starting_year
print(Working_experiance)

8

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [6]:
#type your code here 
dollar_rate_in_pkr = 290
income_in_dollars = income_in_pkr / dollar_rate_in_pkr 
print(income_in_dollars)

689.6551724137931

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [7]:
#type your code here 
dollar_rate_in_pkr = 290
income_in_dollars = income_in_pkr // dollar_rate_in_pkr 
print(income_in_dollars)

689

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [8]:
#type your code here 
type(weight_in_grams)
weight_in_kg = weight_in_grams // 1000
print(weight_in_kg)

70

11) print the year of birth of Mr. Ahmed.

In [10]:
#type your code here
birth_year = current_year - friend_age
print(birth_year)

1993

12) Can Rs. 100 be divided equally among 6 students? 
HINT: % operator

In [11]:
#type your code here 
print(100 % 6 == 0)

False